body {
    margin: 0;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
	transition: all 1s;
} 

a {
    text-decoration: none;
    color: royalblue;
}
a:hover {
    color: orangered;
}
#navbar {
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #121212;
}
#main_nav_element1 {
	display: none;
}

#main_nav_element2 {
	display: none;
}

#main_nav_element3 {
	display: none;
}

#main_nav_element4 {
	display: none;
}

#main_nav_element5 {
  display: none;
}
.nav_element {
	display: block;
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: all .2s;
}
.nav_element:hover {
    background-color: white;
    color: #000;
}
.nav_element_current {
    background-color: white;
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: all 0.1s ease-out 70ms;
    transition: color 0.3s ease-out 10ms;
}
.nav_element_current:hover {
    background-color: #ffffff;
    color: royalblue;
}
.nav_element_home {
    background-color: orangered;
    color: #ffffff;
    margin-right: 5px;
    transition: all 0.5s ease-out 70ms;
    transition: color 0.3s ease-out 50ms;
}
.nav_element_home:hover {
    background-color: red;
    color: white;
}
.download_form {
    border: orangered 4px solid;
    margin-top: 20px;
    width: 98%;
}
.mobile_nav_element {
    margin: 0;
    border: solid 2px orangered;
    color: #ffffff;
    padding: 8px;
    font-size: x-large;
    text-align: center;
    text-decoration: none;
    float: left;
    background-color: orangered;
	transition: all .7s;
}
.mobile_nav_element:hover {
    border: solid 2px red;
    background-color: red;
}
.page_indicator {
    margin-top: 45px;
    transition: all .7s;
    overflow: hidden;
    background-color: #f0f0f0;
}

.indicator_element {
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: large;
    text-decoration: none;
}
.indicator_element_first {
    margin-top: 20px;
}
.indicator_element_button {
    color: #000000;
    background-color: #f0f0f0;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    border: orangered 4px solid;
    transition: all 0.1s ease-in-out 120ms;
}
.indicator_element_button:hover {
    border: rgb(206, 0, 0) solid 4px;
}
.indicator_element_current {
    color: orangered;
}
.bottom_footer {
    margin-top: 35px;
    background-color: #ececec;
    color: #000000;
}
.project_header {
    font-size: x-large;
}

main {
	transition: all .5s;
    margin-left: 50%;
    margin-top: 70px;
    margin-right: 50%;
}