@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
    margin: 0;
    font-size: medium;
    font-family: 'Ubuntu', sans-serif;
} 

a:hover {
    color: orangered;
}
#navbar {
    overflow: hidden;
    background-color: #121212;
}
.nav_element {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.1s ease-out 50ms;
    transition: color 0.1s ease-out 50ms;
}
.nav_element:hover {
    background-color: white;
    color: #000;
}
.nav_element_current {
    background-color: white;
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: background-color 0.1s ease-out 50ms;
    transition: color 0.1s ease-out 10ms;
}
.nav_element_current:hover {
    background-color: #ffffff;
    color: royalblue;
}
.nav_element_home {
    background-color: orangered;
    color: #ffffff;
    margin-right: 5px;
    transition: background-color 0.5s ease-out 50ms;
    transition: color 0.1s ease-out 50ms;
}
.nav_element_home:hover {
    background-color: red;
    color: white;
}
.download_form {
    border: orangered 4px solid;
    margin-top: 20px;
    width: 98%;
    height: 600px;
}
.mobile_nav_element {
    border: solid 2px orangered;
    color: #ffffff;
    padding: 8px;
    font-size: large;
    text-align: center;
    text-decoration: none;
    float: left;
    margin-right: 5px;
    background-color: orangered;
    transition: background-color 0.5s ease-out 50ms;
    transition: border 0.5s ease-out 50ms;
}
.mobile_nav_element:hover {
    border: solid 2px red;
    background-color: red;
}
.page_indicator {
    background-color: #f0f0f0;
}
.indicator_element {
    color: #000000;
    text-align: center;
    padding: 10px;
    font-size: large;
    text-decoration: none;
}
.indicator_element_first {
    margin-top: 20px;
}
.indicator_element_button {
    color: #000000;
    background-color: #f0f0f0;
    text-align: center;
    font-size: large;
    margin-bottom: 20px;
    border: orangered 4px solid;
}
.indicator_element_button:hover {
    border: rgb(206, 0, 0) solid 4px;
}
.indicator_element_current {
    color: orangered;
}
main {
    margin-left: 15%;
    margin-right: 15%;
}